<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home game</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <h1>deashbord </h1>
    <p>Mostar informações do player, e botão par entrar ou criar partida</p>
</body>
</html>