<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home game</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <section id="card-home">
        <h1>Luxy</h1>
        <p>Um jogo de cartas com espericiancia de baatalha medieval </p>
        <a href="/login">Jogar</a>
    </section>
</body>
</html>