body
{
    background-color: #333;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin:0;
}

#card-home {
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    & p {
        width:70%;
    }
    & a {
        text-decoration: none;
        color: #fff;
        background-color: #ac1bac;
        padding: 10px 20px;
    }
}
.top-navbar{
    width: 100vw;
    height: 50px;
    /* background-color: #222; */
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    position: absolute;
    & .back{
        background-color: transparent;
        border: none;
        color: #fff;
        font-size: 24px;
        cursor: pointer;
    }
}
.purplebg{
    background-color: #ac1bac;
}
.justify-end{
    justify-content: flex-end !important;
}   
.cont-forms{
    width: 100vw;
    height: 90vh;
    border-radius: 10px;
    overflow: hidden;
    color: #fff;
    text-align: left;
    display: flex;
    & h1,p{
        width: 90% !important;
        padding-left: 20px;
    }

    & form{
        min-width: 100vw;
        ;
        & .cont-inputs {
            margin-top: 40px;
            padding-top: 40px;
            border-radius: 20px 20px 0 0 ;
            width: 100%;
            height: 100%;
            background-color: #fff;
            display:flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;


            & input {
                border: none;
                background-color: #ddd;;
                padding: 15px 25px;
                border-radius: 20px;
                width: 80%;
            }
            & button {
                /* margin-top: 20px; */
                padding: 15px 30px;
                border: none;
                border-radius: 20px;
                background-color: #ac1bac;
                color: #fff;
                font-size: 16px;
                cursor: pointer;
            }
            & .link{
                margin-top: 10px;
                color: #555;
                text-decoration: underline;
                background-color: transparent;
            }
        }
    }
    
}